@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.search-main-page {
    display: flex;
    justify-content: center;       
}

.search-main-page-box {
    width: 500px;
    height: 56px;
    display: flex;    
    align-items: center;
    border: 1px solid black;
    border-radius: 8px;
    box-sizing: border-box;  
    padding: 16px;
    gap: 8px;
}

.search-main-page-box > img {
    width: 24px;
    height: 24px;   
    cursor: pointer;
}

.search-main-page-box > input{ 
    width: 100%;         
    font-family: "Roboto", sans-serif;
    font-weight: 400;    
    border: none;
    outline: none;
}

