@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,700;1,700&display=swap');

.navigation {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    gap: .7rem;
}

.navigation__item {
    font-family: "Karla", sans-serif;
    font-size: 1.8rem;
    cursor: pointer;
}