.header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;    
    box-shadow: -2px 0px 8px 2px rgba(0, 0, 0, 0.1);
}

.header img {
    width: 46px;
    height: 49px;
}