@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.character,
.location,
.episode {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;

}

.card {
    width: 240px;
    height: 244px;
    padding: .4rem;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px #00000024;
    box-shadow: 0px 3px 4px 0px #0000001F;
    box-shadow: 0px 1px 5px 0px #00000033;
    font-family: "Roboto", sans-serif;
}

.card>h4 {
    font-weight: 500;
    font-size: 2rem;
}

.card>p {
    font-weight: 400;
    font-size: 1.4rem;
}